In [48]:
import numpy as np
from CharVectorizer import CharVectorizer
import pandas as pd
from pandas import Series, DataFrame

import scipy
from scipy.stats import spearmanr

import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

import sklearn
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import preprocessing

In [49]:
train_data = 'embed_train.csv'
test_data = 'embed_test.csv'
train_df = pd.read_csv(train_data)
test_df = pd.read_csv(test_data)
vectorizer = CharVectorizer("abcdefghijklmnopqrstuvwxyz1234567890")
train_df.columns  = ['firstname','lastname','dob','password',
                'firstname_similarity','lastname_similarity',
                'dob_similarity','aggregate_similarity']
test_df.columns  = ['firstname','lastname','dob','password',
                'firstname_similarity','lastname_similarity',
                'dob_similarity','aggregate_similarity']
#train_df.head() #if you want to see the shape of the data, uncomment this line

In [50]:
#create encoding function that we will use as a lambda 
#in the next following cells
def encode(cell_entry,charvectorizer):
    cells = [cell_entry]
    maxlen = max(len(cell) for cell in cells)
    matrix = charvectorizer.transform(cells,maxlen)
    return matrix

In [51]:
#test_df['firstname'].values is the accessor for the firstname column
#fname_vector = (encode(val,vectorizer) for val in train_df['firstname'].values)
#print(train_df['firstname'])
#print(list(fname_vector))
for i in range(len(train_df['firstname'])): #https://www.dataquest.io/blog/settingwithcopywarning/ 
    train_df['firstname'][i] = encode(train_df['firstname'][i],vectorizer)
    train_df['password'][i] = encode(train_df['password'][i],vectorizer)

C:\Users\Axiom\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Axiom\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [52]:
train_df.head()

,firstname,lastname,dob,password,firstname_similarity,lastname_similarity,dob_similarity,aggregate_similarity
0,"[[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",McConnell,0000-00-00,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",18.182,13.333,0.000,10.505
1,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,...",McConnell,0000-00-00,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",18.182,25.000,0.000,14.394
2,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,...",Kragh,1977-03-02,"[[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,...",0.000,18.182,12.500,10.227
3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,...",Marques,1978-06-13,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,...",15.385,12.500,31.579,19.821
4,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,...",KTEST,1969-01-10,"[[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,...",0.000,0.000,0.000,0.0

In [53]:
embedding_dim = 300
embeddings = 1 * np.random.randn(len(train_df['firstname']) + 1, embedding_dim)  # This will be the embedding matrix

In [40]:
#embeddings these weights represent a 1 or a zero

array([[ 1.20033324, -0.64156785,  0.93126294, ...,  0.19070643,
         1.13666381, -1.26044319],
       [ 0.94767988,  0.29992227, -1.50366615, ..., -2.14784647,
         1.10746224, -1.25101093],
       [-1.13026801,  0.84383956,  0.47273204, ..., -0.64996327,
        -0.28787144,  1.27109161],
       ...,
       [ 0.90779874,  0.69396933, -1.3756296 , ...,  2.08972331,
        -1.69864626,  0.7783212 ],
       [ 0.23015444,  0.93102627,  0.11274816, ..., -0.20862911,
         0.98233363,  1.16686978],
       [ 0.40811826,  0.55182607, -0.12249662, ..., -0.58294447,
        -0.04344624,  0.82094559]])