In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import scipy
from scipy.stats import spearmanr

import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

import sklearn
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import preprocessing

In [5]:
data = 'sample.csv'
users = pd.read_csv(data)
users.columns  = ['firstname','lastname','dob','password',
                'firstname_similarity','lastname_similarity',
                'dob_similarity','aggregate_similarity']
users.head()

,firstname,lastname,dob,password,firstname_similarity,lastname_similarity,dob_similarity,aggregate_similarity
0,Chris,McConnell,0000-00-00,vivmcc,18.182,13.333,0.000,10.505
1,John,McConnell,0000-00-00,sense12,18.182,25.000,0.000,14.394
2,Koy,Kragh,1977-03-02,harf42,0.000,18.182,12.500,10.227
3,João,Marques,1978-06-13,jotaX7820,15.385,12.500,31.579,19.821
4,KTEST,KTEST,1969-01-10,harf42,0.000,0.000,0.000,0.0

In [21]:
fname_column = users.ix[:,(0)].values # allows us to access column 1 as a list

C:\Users\Axiom\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [22]:
print(char2index)

{'S': 0, 'c': 1, 'o': 2, 't': 4}