In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import scipy
from scipy.stats import spearmanr

import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

import sklearn
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn import preprocessing

C:\Users\Jhony\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [39]:
data = "training_passwords_similarities(firstname only).csv"
accounts = pd.read_csv(data)
accounts.head()

  paulette paulette.1  0
0   hardik     hardik  0
1   martin     martin  0
2   justas     justas  0
3  sansoor    sansoor  0
4  subhash   subhash1  0

In [40]:
accounts.columns = ['Fname', 'Password','score']
accounts.head()

     Fname  Password  score
0   hardik    hardik      0
1   martin    martin      0
2   justas    justas      0
3  sansoor   sansoor      0
4  subhash  subhash1      0

In [41]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 3 columns):
Fname       4999 non-null object
Password    4999 non-null object
score       4999 non-null int64
dtypes: int64(1), object(2)
memory usage: 117.2+ KB

In [44]:
accounts_data = accounts.ix[:,(0,1)].values #using fname and password

In [45]:
y = accounts.ix[:,2] #taget variable

In [43]:
x = scale(accounts_data)

ValueError: could not convert string to float: 'vivmcc'